/* inter font faces*/
@font-face{
    font-family: 'inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* root variables */
:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--Font-Family: 'inter', Arial, sans-serif;
--Font-Weight-Regular: 400;
--Font-Weight-Medium: 600;
--Font-Weight-SemiBold: 700;
--Font-Size-Body: clamp(0.875rem, 1vw, 1.125rem);
}

/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Grey-900);
    font-family: var(--Font-Family);
    color: var(--White);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
main, section, nav, header, .user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section{
    background-color: var(--Grey-800);
    padding: 2rem;
    border-radius: 15px;
}
img{
    border-radius: 50%;
    width: 35%;
    height: auto;
    margin-bottom: 15px;
}
.user-details{
  gap: 5px;
}
h2{
    font-weight: var(--Font-Weight-SemiBold);
}
h4{
    color: var(--Green);
}
.description{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: var(--Font-Weight-Regular);
     font-size: var(--Font-Size-Body);
     padding-left: 15px;
     padding-right: 15px;
}
nav{
    width: 100%;
    gap: 1rem;
}
a{
    text-decoration: none;
    text-align: center;
    font-family: var(--Font-Family);
    font-weight: var(--Font-Weight-SemiBold);
    font-size: var(--Font-Size-Body);
    padding: 15px 0;
    color: var(--White);
    background-color: var(--Grey-700);
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s;
}

a:hover{
    background-color: var(--Green);
    color: var(--Grey-900);
    cursor: pointer;
}
a:focus {
    outline: 2px solid var(--Green); 
    outline-offset: 2px;
    background-color: var(--Green); 
    color: var(--Grey-900);
}

@media only screen and (min-width: 370px) {
  body {
    padding: 0 20px;
    font-size: var(--Font-Size-Body);
  }

}

